* {
  margin: 0;
  padding: 0;
  background-color: #2d2d34;
  color: #f1e4e8;
  font-family: 'Overpass', sans-serif;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.25s ease-out;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2.5%;
  margin: 0 8.75%;
}

main {
  grid-column: 3 / span 5;
  height: 100vh;
  margin-top: 30vh;
}

h1 {
  font-size: 6vw;
}

h3 {
  font-size: 3vw;
  margin: 1vh 0;
}

h3 > a {
  color: #ceb1be;
  text-decoration: none;
  font-weight: 800;
}
h3 > a:hover {
  text-shadow: 0px 0px 3px #ceb1be;
}

.contact-links > a {
  font-size: 2.5vw;
  margin-right: 1.5vw;
  text-decoration: none;
  color: #b97375;
  font-weight: bold;
}

.contact-links > a:hover {
  text-shadow: 0px 0px 3px #b97375;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  main {
    grid-column: span 4;
    margin: 2.5vh 0;
  }

  h1 {
    font-size: 12.3vw;
  }

  h3 {
    font-size: 8.2vw;
    margin: 1vh 0;
  }
  .contact-links > a {
    font-size: 5.12vw;
    margin-right: 4vw;
  }
}
